@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Delete Your account";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>Deleting your account will permanently remove all your data, including ads. You won't be able to restore it.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger w-100" style="margin-top: 10px;">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
